# ทำนายผลผลิตข้าวโพด โดยใช้ผลผลิตปีก่อน ๆ ด้วย SARIMAX

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta
from pandas.plotting import register_matplotlib_converters
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.statespace.sarimax import SARIMAX
import statsmodels.api as sm

register_matplotlib_converters()

import plotly.offline as py
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)

Get data

In [2]:
yield_file = 'OAE-process/OAE-ผลผลิตข้าวโพดทั้งหมด.xlsx'
df = pd.read_excel(yield_file)

areas = df.groupby(['area']).sum().sort_values(by='value', ascending=False)

In [3]:
def data_in_area(df, area):
    df = df.sort_values(by='date', ascending=True)
    df_area = df[df.area == area].reset_index()
    df_area = df_area[['date', 'value']]
    df_area.columns = ['ds', 'y']
    return df_area

In [4]:
def resample_year2month(df):
    df = df.set_index('date')
    df.index.name = 'ds'
    return df.resample('MS').asfreq().fillna(method='ffill')

In [5]:
cost_file = 'OAE-process/OAE-ต้นทุนรวมต่อไร่ข้าวโพดเลี้ยงสัตว์.xlsx'
df_cost = pd.read_excel(cost_file)
df_cost_spl = resample_year2month(df_cost)

precipitation_file = 'OAE-process/OAE-ปริมาณน้ำฝน-ฝนตก.xlsx'
df_precipitation = pd.read_excel(precipitation_file)
df_precipitation_nan = data_in_area(df_precipitation,'Nan').set_index('ds')

rainday_file = 'OAE-process/OAE-ปริมาณน้ำฝน-จำนวนวันฝนตก.xlsx'
df_rainday = pd.read_excel(rainday_file)
df_rainday_nan = data_in_area(df_rainday,'Nan').set_index('ds')

price_file = 'OAE-process/OAE-ราคาข้าวโพดเลี้ยงสัตว์.xlsx'
df_price = pd.read_excel(price_file)
df_price_spl = df_price.set_index('date')

Util functions

In [6]:
def add_features(df):
    df = df.join(df_cost_spl['value'], on='ds').rename(columns={'value':'cost'})
    df = df.join(df_precipitation_nan['y'].rename('precipitation'), on='ds')
    df = df.join(df_rainday_nan['y'].rename('rainday'), on='ds')
    df = df.join(df_price_spl['value'], on='ds').rename(columns={'value':'price'})
    return df.sort_values(by='ds', ascending=False).fillna(method='bfill')

def is_harvest_season(ds):
    date = pd.to_datetime(ds)
    return (date.month >= 10 and date.month <= 12)

In [15]:
df_yield = data_in_area(df, 'Phetchabun')

df_yield = add_features(df_yield)
df_yield['on_season'] = df_yield['ds'].apply(is_harvest_season).astype('float')
df_yield = df_yield.sort_values(by='ds', ascending=True)

df_yield = df_yield.set_index('ds')
df_yield.index = pd.DatetimeIndex(df_yield.index)
df_yield = df_yield.asfreq(pd.infer_freq(df_yield.index))

In [16]:
df_yield

                 y     cost  precipitation  rainday  price  on_season
ds
2015-01-01   14840  4526.63          58.82      4.0   8.59        0.0
2015-02-01    2162  4526.63           3.88      3.0   8.75        0.0
2015-03-01    9937  4526.63          37.35      8.0   8.18        0.0
2015-04-01   29204  4526.63         136.02     14.0   8.11        0.0
2015-05-01   11160  4526.63          68.55     21.0   8.33        0.0
2015-06-01       0  4526.63          74.32     22.0   8.33        0.0
2015-07-01    2063  4526.63         204.47     27.0   8.00        0.0
2015-08-01   57951  4526.63         213.43     27.0   8.15        0.0
2015-09-01   99548  4526.63         204.35     25.0   7.59        0.0
2015-10-01  147480  4526.63          59.46     17.0   7.41        1.0
2015-11-01  131225  4526.63          49.69      8.0   7.33        1.0
2015-12-01   43856  4526.63          74.87     10.0   7.49        1.0
2016-01-01    8987  4458.90          65.13      9.0   8.16        0.0
2016-02-01     894  4458.90           2.20      4.0   7.95        0.0
2016-03-01   16899  4458.90           0.30      2.0   7.56        0.0
2016-04-01   34752  4458.90          81.91     10.0   7.66        0.0
2016-05-01    1342  4458.90         204.86     23.0   7.61        0.0
2016-06-01       0  4458.90         199.77     28.0   7.84        0.0
2016-07-01    1047  4458.90         365.35     30.0   8.10        0.0
2016-08-01   35685  4458.90         365.29     31.0   7.70        0.0
2016-09-01  216425  4458.90         223.64     29.0   6.94        0.0
2016-10-01  199658  4458.90          62.18     22.0   6.04        1.0
2016-11-01   56368  4458.90          16.24      6.0   6.07        1.0
2016-12-01   28239  4458.90           2.20      4.0   6.17        1.0
2017-01-01    7391  4486.91          57.73     12.0   6.26        0.0
2017-02-01    6729  4486.91           0.00      0.0   6.30        0.0
2017-03-01   10913  4486.91          29.09      8.0   6.45        0.0
2017-04-01   19471  4486.91         120.17     17.0   5.97        0.0
2017-05-01    8857  4486.91         134.43     23.0   6.00        0.0
2017-06-01     220  4486.91         102.87     26.0   6.40        0.0
2017-07-01     791  4486.91         345.19     29.0   5.54        0.0
2017-08-01   91383  4486.91         272.29     30.0   6.21        0.0
2017-09-01  297713  4486.91         174.29     27.0   6.00        0.0
2017-10-01  115324  4486.91          83.88     19.0   5.86        1.0
2017-11-01   39505  4486.91           7.07      9.0   6.18        1.0
2017-12-01   29892  4486.91          53.70     10.0   6.92        1.0
2018-01-01    2192  4421.48          13.57      8.0   8.06        0.0
2018-02-01    1885  4421.48          15.98      3.0   8.24        0.0
2018-03-01   15897  4421.48          27.34     10.0   8.30        0.0
2018-04-01   36039  4421.48         138.19     16.0   8.48        0.0
2018-05-01    7364  4421.48         161.53     26.0   8.48        0.0
2018-06-01     113  4421.48         230.71     29.0   8.63        0.0
2018-07-01    2483  4421.48         346.97     27.0   7.17        0.0
2018-08-01  213784  4421.48         261.05     29.0   6.77        0.0
2018-09-01  190630  4421.48         164.82     22.0   6.56        0.0
2018-10-01   80003  4421.48          47.51     18.0   7.22        1.0
2018-11-01   52052  4421.48           5.73      8.0   8.33        1.0
2018-12-01   19308  4421.48           5.67      6.0   8.78        1.0
2019-01-01    4008  4363.35          34.12      4.0   8.97        0.0
2019-02-01    3150  4363.35           7.48      3.0   8.19        0.0
2019-03-01   31237  4363.35           6.26      3.0   8.05        0.0
2019-04-01   61121  4363.35          57.22     10.0   7.82        0.0
2019-05-01   11013  4363.35         145.20     13.0   7.49        0.0

# Dashboard

In [7]:
import ipywidgets as widgets
from ipywidgets import HBox, VBox
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
%matplotlib inline

In [14]:
@widgets.interact_manual(Province=areas.index[:30])
def predict(Province=areas.index[0]):

    df_yield = data_in_area(df, Province)
    print(f'Total Yield from {df.date.min().strftime("%b %Y")} to {df.date.max().strftime("%b %Y")} = {areas.loc[Province,"value"]}')
    
    df_yield = add_features(df_yield)
    df_yield['on_season'] = df_yield['ds'].apply(is_harvest_season).astype('float')
    df_yield = df_yield.sort_values(by='ds', ascending=True)

    df_yield = df_yield.set_index('ds')
    df_yield.index = pd.DatetimeIndex(df_yield.index)
    df_yield = df_yield.asfreq(pd.infer_freq(df_yield.index))
    
    df_train, df_test = df_yield[:-12], df_yield[-12:]
    
    df_yield['year'] = pd.DatetimeIndex(df_yield.index).year
    print(df_yield.groupby('year').sum().head())
    
    endog = df_train.loc[:, 'y']
    exog = df_train.loc[:, ['cost', 'precipitation', 'price']]
    
    print(df_train)
    
    my_order = (1,0,1)
    my_seasonal_order = (0, 1, 0, 12)
    # define model
    model = SARIMAX(endog=endog, exog=exog, order=my_order, seasonal_order=my_seasonal_order)
    #fit the model
    model_fit = model.fit()
    print(model_fit.summary())
    
    # exog_forecast = sm.add_constant(df_test.loc[:, ['cost', 'precipitation', 'rainday', 'price', 'on_season']])
    exog_forecast = df_test.loc[:, ['cost', 'precipitation', 'price']]
    
    print(exog_forecast, df_test)
    
    #get the predictions and residuals
    predictions = model_fit.forecast(len(exog_forecast), exog=exog_forecast)
    # predictions = pd.Series(predictions, index=df_test.index)
    predictions.index = df_test.index
    predictions.clip(lower=0, inplace=True)
    residuals = df_test['y'] - predictions
    
    print('MAE: %f' % np.mean(np.abs(residuals)) )
    print('Mean Absolute Percent Error:', round(np.mean(abs(residuals / df_test['y'])),4))
    print('Root Mean Squared Error:', np.sqrt(np.mean(residuals**2)))
    
    total_error = abs(1 - (np.sum(predictions) / np.sum(df_test['y']))) * 100
    print('Total Error: %.3f' % total_error)
    print('Forecast:', np.sum(predictions))
    print('Ground Truth:', np.sum(df_test['y']))
    
    plt.figure(figsize=(10,4))
    plt.plot(residuals)
    plt.axhline(0, linestyle='--', color='k')
    plt.title('Residuals from SARIMA Model', fontsize=20)
    plt.ylabel('Error', fontsize=16)
    
    plt.figure(figsize=(10,4))
    plt.plot(df_yield['y'])
    plt.plot(predictions)
    plt.legend(('Data', 'Predictions'), fontsize=16)
    
    print(predictions.head())
    
    py.iplot([
        go.Scatter(x=df_train.index, y=df_train['y'], name='train', line=dict(width=3)),
        go.Scatter(x=predictions.index, y=predictions, name='yhat', line=dict(width=3)),
#         go.Scatter(x=forecast['ds'], y=forecast['yhat_upper'], fill='tonexty', mode='none', name='upper'),
#         go.Scatter(x=forecast['ds'], y=forecast['yhat_lower'], fill='tonexty', mode='none', name='lower'),
#         go.Scatter(x=forecast['ds'], y=forecast['trend'], name='Trend'),
        go.Scatter(x=df_test.index, y=df_test['y'], name='test', marker=dict(color='blue', size=12), line=dict(width=3)),
    ])
    
#     py.iplot(plot_plotly(model, forecast))

#     py.iplot(plot_components_plotly(model, forecast))

interactive(children=(Dropdown(description='Province', options=('Phetchabun', 'Nakhon Ratchasima', 'Nan', 'Tak…